* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italiana', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Work Sans', sans-serif;
    
}

section {
    padding: 100px !important;
}

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    background-color: #2b303a;
    /* background-color: #fff; */
    height: 17vh;
}

header a img {
    width: 100px;
}

header a {
    text-decoration: none;
}

header .brand {
    margin-left: 150px;
    padding-right: -20px;
    display: flex;
}

header .brand h1 {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 19px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-left: -15px;
    font-family: 'Work Sans', sans-serif;

}

/* header .brand {
    color: white;
    font-size:1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
header .brand:hover{
    color:blue;
} */
header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: white;
    /* color: #2b303a; */
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin-left: 50px;
    margin-bottom: 2px;
    transition: 1.3s ease;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italiana', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header .contact-us {
    background-color: #38b6ff;
    padding: 35px;
    padding-right: 70px;
    padding-left: 70px;
    text-align: right;
    float: right;
}

header .contact-us a {
    color: #2b303a;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-family: 'Italiana', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Prata', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: white;
    width: 0;
    height: 2px;
    bottom: 0;
    /* top: 1px; */
    left: 0;
    transition: 0.3s ease;

}

header .navigation .navigation-items a:hover:before {
    width: 100%;
    background: white;
}

.img-slide {
    overflow-y: hidden;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.img-slide.active {
    clip-path: circle(150% at 0 50%);
    background-color: rgba(255, 255, 255, 0);
    transition: 2s ease;
    transition-property: clip-path, background-color;
}

section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.home:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: white;
    width: 100%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 48px;
    margin-bottom: 20px;
}

.home .content h1 span {
    font-size: 72px;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
    letter-spacing: 2px;
    width: 80%;
    font-size: 18px;
}

.home .content a {
    background-color: white;
    padding: 15px 35px;
    color: black;
    padding-right: 80px;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 70px;
    padding-top: 20px;
}

.home .content a i {
    text-align: right;
    /* margin-left: 20px; */
    font-size: 20px;
    padding-left: 10px;

    justify-content: center;
    position: absolute;
    float: right;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5 ease;
    color: white;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:hover {
    transform: scale(1.3);
    color: blue;
}

.home img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: circle(0% at 0 50%);
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3 ease;
}

.slider-navigation .nav-btn.active {
    background: #000;
    border: 0.5px white solid;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

@media (max-width:1040px) {
    header {
        padding: 12px 20px;

    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
    }

    header .navigation .navigation-items a {
        color: black;
        font-size: 1.2rem;
        margin: 20px;

    }

    header .navigation .navigation-items a:before {
        background-color: black;
        height: 5px;
    }

    header .navigation .navigation-items {
        background: white;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px black;
    }

    .menu-btn {
        background: url("{{ asset('assets/image/1.jpg') }}");
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3 ease;
        background-color: black;
    }

    .menu-btn.active {
        z-index: 999;
        background: url("{{ asset('assets/image/2.jpg') }}");
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        background-color: black;

    }
}

@media (max-width:560px) {
    .home .content h1 {
        font-size: 3em;
        line-height: 60px;
    }
}


.zoom-in-out-box {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: zoom-in-out 17s ease infinite;
    animation-delay: 1s;
    /* Add a delay of 1 second after the animation starts */

}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

.content {
    opacity: 0;
    animation: fade-in 1s ease forwards;
    /* Add a fade-in animation to display the content */
    animation-delay: 1s;
    /* Add a delay of 2 seconds after the animation starts */
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.section-2 {
    background-color: #38b6ff;
    height: 70vh;
    z-index: 100000;
    width: 100%;

}

 .line {
    background-color: #2b303a;
    width: 20%;
    height: 0.5vh;
    position: absolute;
    z-index: 100000;
}

.text .head h1 {
    padding-top: 15px;
    color: #2b303a !important;
    text-align: left;
    font-weight: bolder;
    font-size: 36px;
    letter-spacing: 1.5px;
}

.section-3 {
    background-color: #2b303a;
    z-index: 100000;
    width: 100%;

}

.section-3 .cards {
    display: flex;
    margin-top: -33%;
    width: fit-content;
    overflow-x: hidden;
}

.section-3 .cards .card img {
    border-radius: 0px !important;
}

.section-3 .cards .card {
    height: 75vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 80px;
    margin-left: 0px;
    border-radius: 0px !important;
    border: none !important;

}
.section-3 .cards .body{
    padding: 25px;
}
.section-3 .cards .card h1 {
    font-size: 30px;
    font-weight: bolder;
    color: #2b303a !important;
}

.section-3 .cards .card p {
    width: 85%;
    font-size: 18px;
}

.button {
    /* color: #2b303a; */
    --primary-color: #fff;
    --secondary-color: #000;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 50%;
    height: 105px;
    width:110px;
    margin-right: 10px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    position: absolute;
    right: 0px;
    text-align: center;
    justify-content: center;
    margin-top: 15%;
    /* border: 1px black solid ; */
    font-size: 18px;
  }
  
  .button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 5px;
    transform: rotate(-45deg);
  }
  
.section-3 .dec{
    background-color: #fff;
    text-align: center;
    justify-content: center;
    display: flex;
}

.dec .left img{
    width: 600px;
}
.dec .right .head h1{
    font-weight: 900;
    font-size: 45px;
    text-align: left;
    color: #2b303a !important;
}
.dec .right .head  {
    padding: 40px;
    padding-top: 100px;
}
.dec .right .text p{
    font-size: 28px;
    text-align: left;
    letter-spacing: 1px;
    padding: 40px;
}
 .pattern {
    right: 0;
    position: absolute;
    margin-top: -8%;
    z-index: 0;
}
.dec-2{
    margin-top: 100px;
}
.section-4{
    background-color: #38b6ff;
}
.textarea{
    display: flex;
}

 .text{
    width: 100%;
}
 .desc p{
    font-size: 18px;
    width: 80%;
}
.section-4 .image-section{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}
.section-4 .image-section .left img ,.section-4 .image-section .right img{
    width: 400px;
    margin: 20px;
    /* height: 50vh; */
}
.section-4 .image-section .left img {
    margin-top: 120px;
}
.type1{
        right: 0;
        margin-top: -7%;
        float: right;
        background-color: transparent;
        border: 1px solid #2b303a;
        width: 200px;
        height: 10vh;
        border-radius: 50px;
        margin-right: 33%;
}
.container2 .headings h1{
    letter-spacing: 2px;
}




:root {
    --full-w: 100%;
    --full-h: 100%;
    --default-font: -apple-system, BlinkMacSystemFont, Roboto, helvetica neue,
      sans-serif;
    --spartan: "LeagueSpartanVariable";
    --h1-clamp: clamp(6.5rem, 15vw, 30rem);
    --default-font-size: 1.75rem;
    --duration: 350ms;
    --gap: 0.4rem;
    --default-padding: 1.2rem;
    --z-20: 20;
    --z-30: 30;
    --black: rgb(12, 12, 10);
    --white: rgb(255, 255, 255);
    --pale-blue: #c1dcee;
   
    --bg-1: url("../image/services/bg1.jpg");
    --bg-2: url("../image/services/bg1.jpg");
  }
  
  @font-face {
    font-family: "LeagueSpartanVariable";
    src: url("https://assets.codepen.io/1149983/LeagueSpartan-VF.woff2") format("woff2-variations");
    font-weight: 200 900;
  }
  
  

  .services h1 {
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    background-image: var(--bg-2);
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline;
    font-size: 150px !important;
    font-variation-settings: "wght" 900;
    order: 2;
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .container2 {
    display: flex;
    flex-flow: column wrap;
    display: grid;
    grid-template-columns: 0fr;
    grid-template-rows: 0rem calc(100vh - 30rem);
    min-height: 100vh;
    min-height: -webkit-fill-available;
    overflow: hidden;
    position: relative;
  }
    .container2::before {
      background-image: var(--bg-1);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      content: "";
      height: var(--full-h);
      filter: brightness(0.25);
      position: absolute;
      inset: 0;
      width: var(--full-w);
    }
  .sr main {
    grid-area: main;
    z-index: var(--z-30);
  }
  
  .services {
    display: flex;
    flex-flow: column nowrap;
    height: var(--full-h);
  }
  
  .headings {
    display: flex;
    flex-flow: column wrap;
    row-gap: calc(var(--default-padding) * 1);
    margin: auto 0;
  }
  .container3 {
    position: relative;
    font-family: sans-serif;
    color: white !important;
    margin: 30px;
  }
  
  .container3::before, .container::after {
    content: "";
    /* background-color: #fff; */
    position: absolute;
  }
  
  .container3::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
  }
  
  .container3::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 8%;
    right: 5%;
    border: 1px solid;
  }
  
  .container3 .box {
    width: 21em;
    height: 24em;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 5px  ;
    transition: all ease .3s;
  }
  
  .container3 .box {
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
  }
  
  .container3 .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em;
    padding-top: 10px;
  }
  
  .container3 .box div strong {
    display: block;
    margin-bottom: .5rem;
  }
  
  .container3 .box div p {
    margin: 0;
    font-size: .9em;
    font-weight: 300;
    letter-spacing: .1em;
    padding-top: 30px;

  }

  
  .container3 .box:hover {
    box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
    /* box-shadow: 0px 0px 20px 1px #fff; */
    border: 1px solid rgba(255, 255, 255, 0.454);
  }

.inn-card{
    
        display: flex;
}
.ser
{
    background-color: #2b303a;
}
.b-sec{
    background-color: #38b6ff;
}
.sub-sec{
    background-color: #38b6ff;
}
.sub-sec h1{
    color: #2b303a !important;
    font-size: 25px;
    margin: 0px;
    font-weight: bolder;
    padding: 70px;
    padding-right: 80px;
    padding-left: 80px;
    font-style: italic;
    
}
.about-us .inn-sec {
    display: flex;
}
.about-us .inn-sec .left img{
    width: 600px;
}

.about-us{
    background-color: #38b6ff;
}
.about-us .inn-sec{
    background-color: #fff;
}
.about-us{
    padding: 100px !important;
}
.about-us .right{
    padding: 50px;
    padding-top: 180px;
    
}
.about-us .right h1{
    padding-bottom: 40px;
    line-height: 50px;
    color: #2b303a !important;
    /* text-decoration: underline; */
    font-size:36px;

}
.about-us .right p{
    line-height: 1px;
    font-size:25px;
}
.type1
{
    transition: .3s ease ;
}
.type1:hover{
    background-color: #2b303a;
    color: white;
    border: 1px solid white;
}

.analytics .textarea .line{
    background-color: white !important;
}
    .analytics .textarea , h1 {
    color: white !important;
}
.analytics li{
    list-style: circle;
    padding-bottom: 15px;
}
.analytics p{
    padding-bottom: 20px;
}
.analytics strong{
    letter-spacing: 2px;
    font-weight: 600;
}
.analytics ul{
    padding-left: 20px;
}
.analytics .desc p{
    width: 100%;
} 
.testimonials {
    background-color: #fff;
    padding: 0 !important;
}   
.testimonials .inn-sec{
    display: flex;
}
.testimonials .inn-sec img{
    width: 600px;

}
.testimonials .left{
    padding: 90px;
}
.testimonials .left p{
    font-family: var(--default-font);
    font-size: 24px;
    font-weight: bolder;
    padding-top: 29px;
    padding-bottom: 10px;
}
.testimonials .left span{
    font-family: var(--default-font);
    font-size: 18px;

}

/* about us css starts here  */
 
.abt-vision{
    background-color: #fff;
    color: #2b303a;
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}
.abt-vision h1{
    color: #2b303a !important;
    font-weight: bolder;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-variation-settings: "wght" 600;
}
.abt-vision p{
    font-size: 20px;
    padding-top: 20px;  
}
.why-choose-us .text .head h1{
    font-variation-settings: "wght" 500;
    letter-spacing: 2px;
}
.why-choose-us .desc h1{
    font-variation-settings: "wght" 600;

}
.why-choose-us .desc p{
    color: white !important;
    padding-top: 0px;
}
.why-choose-us .side-img img{
    width: 300px;
    padding-top: 40px;
}
.why-choose-us .space{
    padding-top: 50px;
}

.w-services{
    background-color: #38b6ff;
    padding-top: 50px !important;
}
.w-services .w-cards{
    display: flex;
    margin-top: 30px;
}
.w-services .w-cards .w-card{
    background-color: #fff;
    color: #2b303a !important;
    width: 500px;
    margin-right: 60px;
    padding: 20px;
    transition: .4s ease;
}
.w-services .w-cards .w-card h1{
    color: #2b303a !important;
    font-size:30px;
    padding-bottom: 20px;
}
.w-services .w-cards .w-card p{
height: 235px;
}
.w-services .w-btn{
    background-color: #fff;
    right: 0;
    float: right;
    padding-right: 13px;
    padding-top: 14px;
    bottom: 0;
}
.w-services .w-cards .w-card:hover{
    transform: scale(1.04);
}
.w-services a{
    text-decoration: none;
    color: #2b303a;
}
.w-a{
    background-color: #2b303a;
}
.w-a .right{
    padding-top: 80px;
}
.w-a h1{
    line-height: 24px !important;
    padding-bottom: 20px !important;
    font-variation-settings: "wght" 600;
}
.w-a p{
    line-height: 23px !important;
    font-size: 20px !important;
    padding-bottom: 30px !important;

}

.founder {
    background-color: #fff !important;
}
.founder h1{
    color: #2b303a !important;
    /* padding-top: 50px !important; */
}
.founder .desc p{
    color: #2b303a !important;
}
.founder .f-text{
    width: 60% !important;
}


@import url(//cdn.rawgit.com/rtaibah/dubai-font-cdn/master/dubai-font.css);



.testim {
		width: 100%;
        background-color: #2b303a;
		position: absolute;
        /* height: 78vh; */
}

.testim .wrap {
    position: relative;
    width: 100%;
    max-width: 1020px;
    padding: 40px 20px;
    margin: auto;
}

.testim .arrow {
    display: block;
    position: absolute;
    color: #eee;
    cursor: pointer;
    font-size: 2em;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
    -webkit-transition: all .3s ease-in-out;    
    -ms-transition: all .3s ease-in-out;    
    -moz-transition: all .3s ease-in-out;    
    -o-transition: all .3s ease-in-out;    
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 22222222;
}

.testim .arrow:before {
		cursor: pointer;
}

.testim .arrow:hover {
    color: #ea830e;
}
    

.testim .arrow.left {
    left: 10px;
}

.testim .arrow.right {
    right: 10px;
}

.testim .dots {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 60px;
    left: 0;
    display: block;
    z-index: 3333;
		height: 12px;
}

.testim .dots .dot {
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #eee;
    margin: 0 10px;
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;    
    -ms-transition: all .5s ease-in-out;    
    -moz-transition: all .5s ease-in-out;    
    -o-transition: all .5s ease-in-out;    
    transition: all .5s ease-in-out;
		position: relative;
}

.testim .dots .dot.active,
.testim .dots .dot:hover {
    background: #ea830e;
    border-color: #ea830e;
}

.testim .dots .dot.active {
    -webkit-animation: testim-scale .5s ease-in-out forwards;   
    -moz-animation: testim-scale .5s ease-in-out forwards;   
    -ms-animation: testim-scale .5s ease-in-out forwards;   
    -o-animation: testim-scale .5s ease-in-out forwards;   
    animation: testim-scale .5s ease-in-out forwards;   
}
    
.testim .cont {
    position: relative;
		overflow: hidden;
}

.testim .cont > div {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 0 70px 0;
    opacity: 0;
}

.testim .cont > div.inactive {
    opacity: 1;
}
    

.testim .cont > div.active {
    position: relative;
    opacity: 1;
}
    

.testim .cont div .img img {
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    border-radius: 50%;
}

.testim .cont div h2 {
    color: #ea830e;
    font-size: 1em;
    margin: 15px 0;
}

.testim .cont div p {
    font-size: 1.15em;
    color: #eee;
    width: 80%;
    margin: auto;
}

.testim .cont div.active .img img {
    -webkit-animation: testim-show .5s ease-in-out forwards;            
    -moz-animation: testim-show .5s ease-in-out forwards;            
    -ms-animation: testim-show .5s ease-in-out forwards;            
    -o-animation: testim-show .5s ease-in-out forwards;            
    animation: testim-show .5s ease-in-out forwards;            
}

.testim .cont div.active h2 {
    -webkit-animation: testim-content-in .4s ease-in-out forwards;    
    -moz-animation: testim-content-in .4s ease-in-out forwards;    
    -ms-animation: testim-content-in .4s ease-in-out forwards;    
    -o-animation: testim-content-in .4s ease-in-out forwards;    
    animation: testim-content-in .4s ease-in-out forwards;    
}

.testim .cont div.active p {
    -webkit-animation: testim-content-in .5s ease-in-out forwards;    
    -moz-animation: testim-content-in .5s ease-in-out forwards;    
    -ms-animation: testim-content-in .5s ease-in-out forwards;    
    -o-animation: testim-content-in .5s ease-in-out forwards;    
    animation: testim-content-in .5s ease-in-out forwards;    
}

.testim .cont div.inactive .img img {
    -webkit-animation: testim-hide .5s ease-in-out forwards;            
    -moz-animation: testim-hide .5s ease-in-out forwards;            
    -ms-animation: testim-hide .5s ease-in-out forwards;            
    -o-animation: testim-hide .5s ease-in-out forwards;            
    animation: testim-hide .5s ease-in-out forwards;            
}

.testim .cont div.inactive h2 {
    -webkit-animation: testim-content-out .4s ease-in-out forwards;        
    -moz-animation: testim-content-out .4s ease-in-out forwards;        
    -ms-animation: testim-content-out .4s ease-in-out forwards;        
    -o-animation: testim-content-out .4s ease-in-out forwards;        
    animation: testim-content-out .4s ease-in-out forwards;        
}

.testim .cont div.inactive p {
    -webkit-animation: testim-content-out .5s ease-in-out forwards;    
    -moz-animation: testim-content-out .5s ease-in-out forwards;    
    -ms-animation: testim-content-out .5s ease-in-out forwards;    
    -o-animation: testim-content-out .5s ease-in-out forwards;    
    animation: testim-content-out .5s ease-in-out forwards;    
}

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;        
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;        
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;        
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }

    35% {
        box-shadow: 0px 0px 10px 5px #eee;        
    }

    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;        
    }

    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;        
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -webkit-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -moz-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -ms-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        -o-transform: translateY(0);        
        transform: translateY(0);        
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);        
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
        transform: translateY(-100%);        
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    
    to {
        opacity: 0;
        transform: translateY(-100%);        
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);       
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);       
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);       
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@media all and (max-width: 300px) {
	body {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}
@media screen and  ( max-width:425px) {
    
    .brand h1 {
        display: none;
    }
    header .brand img{
        padding: 0px;
    }
    header .brand {
        margin: 0px;
    }
    header {
        height: 12vh;
        padding: 0;
    }
    header .contact-us{
        padding: 30px;
        text-align: right;
    }
    section {
        padding: 0px !important;
    }
    .home .content h1{
        font-size: 20px;
    }
    .home .content h1 span{
        font-size: 40px;
    }
    .home {
        padding: 20px !important;
    }
    .home .content p{
        width: 100%;
    }
    .home .content h1{
        line-height: 40px !important;
    }
    .home .media-icons{
        display: none !important;
    }
    .section-2{
        padding: 30px !important;
    }
     .line {
        width: 50% !important;
    }
    .text .head h1{
        font-size: 25px;
    padding-top: 40px;
    padding-bottom: 10px;
    }
    .section-3{
        display: inline-block;
    }
    .section-3 .cards{
        margin-top: -35%;
    }
    .section-3 .cards .card:nth-child(2){
        display: none ;
    }
    .section-3 .cards .card{
        margin: 11px;
        width: 167px !important;
        height: 41vh !important;
    }
    .section-3 .cards .card.one{
        margin-left: 27px;
    }
    .section-2{
        height: 37vh;
    }
    .section-3 .cards .card h1{
        font-size: 20px;
    }
    .section-3 .cards .body{
        padding: 15px;
    }
    .section-3 .cards .card p{
        font-size: 14px;
        width: 100%;
    }
    .section-3 .dec {
        display: grid;
        margin: 30px;
    }
    .section-3 .dec .left img{
        width: 340px;
    }
    .dec .right .head{
        padding-top: 37px;
        text-align: center;
        display: grid;
        padding-bottom: 0px;

    }
    .dec .right .head h1 {
        font-weight: 900;
        font-size: 21px;
        text-align: left;
        color: #2b303a !important;
    }
    .dec .right .text p{
        padding-top: 3px;
        font-size: 18px;
    }    
    .dec .reverse:nth-of-type(1){
        order: 2;
    }
    .dec .reverse:nth-of-type(2){
        order: 1;
    }
    .button{
        /* border: .1px solid black; */
        margin-top: 105px;
        width: 70px;
        height: 70px;
        font-size: 0px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;    
}
.image-section .hidden:nth-of-type(1){
    display: none;
}
 .section-4 .image-section .right img{
    width: 340px;
 }
.section-4 .textarea{
    display: grid;
    padding: 32px;
    padding-bottom: 0px;
}
.desc p{
    width: 100%;
}
.section-4{
    height: 120vh;
}

.type1{
    left: 0;
    position: absolute;
    margin-top: 0px;
    text-align: left;
    margin-left: 26px;
    padding-left: 26px;
    width: 243px;
    height: 8vh;
}

.services h1{
    font-size: 80px !important;
}
.container2{
    height: 50vh;
    grid-template-rows: 0rem calc(100vh - 58rem);
}
.sub-sec h1{
    padding: 18px;
    font-size: 19px;
}
.text {
    /* padding: 32px; */
}

.inn-card{
    flex-direction: column;
}
.about-us{
    padding: 32px !important;
}
.about-us .inn-sec .left img{
    width: -webkit-fill-available;
}
.about-us .inn-sec{
    flex-direction: column;
}
.about-us .right{
    padding: 27px;
    text-align: center;
    padding-top: 53px;
    height: 37vh;
}

.about-us .type1{
    text-align: center;
    margin-left: 76px;
    padding-left: 0px;
}
.about-us .right h1{
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 31px;
}
.about-us .right p{
    font-size: 20px;
}
.analytics .textarea{
    flex-direction: column;
    padding: 32px;
}
.analytics .text{
    padding: 0px;
    padding-bottom: 20px;
}
.testimonials .inn-sec{
    flex-direction: column;
}
.testimonials .inn-sec img{
    display: none;
}
.testimonials .left{
    padding: 32px;
}
.testimonials .text{
    padding: 0px;
}
.testimonials .left p{
    font-size: 17px;
}
.section-4 .text , .section-2 .text {
    padding: 0px;
}


}

@media screen and (max-width:320px) {
    header .contact-us{
        height:-webkit-fill-available;
        padding: 15px;
        padding-top: 33px;
    }
    header .contact-us a{
        font-size: 20px;
        width: 87px;
        text-align: center;
        display: block;
        line-height: 17px;
    }
    .home .content h1 span{
        font-size: 29px;
    display: block;
    }
    .home .content h1{
        line-height: 29px !important;
        font-size: 15px;
        letter-spacing: 5px;
    }
    .home .content p{
        font-size: 17px;
        line-height: 20px;
    }
    .section-3 .cards .card{
        width: 129px !important;
        margin-left: 16px !important;
        height: 32vh !important;
    }
    .section-3 .cards{
        height: 36vh;
    }
    .text .head h1{
        padding-top: 18px;
    }
    .section-2{
        height: 33vh;
    }
    .section-3 .cards .card h1{
        font-size: 15px;
    }
    .section-3 .cards .card p {
        font-size: 12px;
        width: 115%;
    }
    .section-3 .cards .body{
        padding: 6px;
    }
    .button {
    margin-top: 72px;
    width: 56px;
    height: 56px;
    font-size: 0px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.section-3 .dec .left img {
    width: 262px;
}
.dec .right .head{
    padding: 12px;
    padding-bottom: 0px;
}
.dec .right .head h1{
    font-size: 18px;
    padding-bottom: 0px;
    text-align: center;
}
.dec .right  .text p{
    padding: 4px;
    font-size: 15px;
    text-align: center;
}
.section-2 , .textarea{
    padding: 18px !important;
    padding-bottom: 0px !important;
}
.desc p{
    font-size: 15px;
}
.section-4 .image-section .right img {
    width: 279px;
    padding-top: 0px;
}
.section-4 .image-section{
    padding-top: 0px !important;
    margin-top: 0px !important;
}
.section-4{
    height: 100vh;
}
}
























.footer {
    background-color: #2b303a;
    text-align: center;
    padding: 50px;
    position: absolute;
}

.footer .links {
    padding-bottom: 20px;
}

.footer .links a {
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding-left: 30px;
    padding-right: 30px;
}

.footer .line {
    width: 50%;
    text-align: center;
    height: 0.1vh;
    background-color: white;
    margin: 0 auto;
    /* Add this line */
}

.footer .text {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 40px;
}